@font-face{
    font-family: "oxygen";
    src: url("Ressources/OxygenMono-Regular.ttf");
}
body{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 100px;
    background: rgb(66,66,66);
    background: linear-gradient(180deg, rgba(66,66,66,1) 0%, rgba(9,9,9,1) 46%, rgba(80,80,80,1) 100%);
    font-family: oxygen;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.block{
    border-radius: 50px;
    background: linear-gradient(145deg, #bc9d18, #e0ba1d);
    box-shadow:  20px 20px 60px #b29417, 
                 -20px -20px 60px #f0c81f;
    width: 450px;
    text-align: center;
    
}
.profil{
    width: 400px;
    height: 400px;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #45463a, #525344);
    box-shadow:  20px 20px 60px #414236, 
                 -20px -20px 60px #595a4a;
}
.photo{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;

}
.social{
    display: flex;
    justify-content: space-between;

}
